# Laboratorio #2

## Información del Estudiante

**Nombre:** Daniel José Plazas Cortés <br>
**Código:** A00400085

In [13]:
!pip install datasets pandas multiprocessing time numpy

Requirement already satisfied: datasets in /usr/local/lib/python3.12/dist-packages (4.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Collecting multiprocessing
  Downloading multiprocessing-2.6.2.1.tar.gz (108 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 108.0/108.0 kB 4.6 MB/s eta 0:00:00
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Preparing metadata (setup.py) ... error
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

## Trabajo con Datasets

### Dataset Remoto 1

In [ ]:
from datasets import load_dataset
import time

# Inicio tiempo
start_time = time.time()
# Carga del dataset
ds = load_dataset("dazzle-nu/CIS435-CreditCardFraudDetection")
# Convertir a DataFrame de pandas
df_hf = ds['train'].to_pandas()
# Fin tiempo
end_time = time.time()

print(f'Tiempo transcurrido en descarga del dataset: {end_time-start_time}')

Tiempo transcurrido en descarga del dataset: 3.1261367797851562

In [19]:
df_hf.head()

   Unnamed: 0 trans_date_trans_time        cc_num  ... is_fraud Unnamed: 23  6006
0           0           1/1/19 0:00  2.703190e+15  ...        0         NaN   NaN
1           1           1/1/19 0:00  6.304230e+11  ...        0         NaN   NaN
2           2           1/1/19 0:00  3.885950e+13  ...        0         NaN   NaN
3           3           1/1/19 0:01  3.534090e+15  ...        0         NaN   NaN
4           4           1/1/19 0:03  3.755340e+14  ...        0         NaN   NaN

[5 rows x 25 columns]

In [20]:
df_hf.describe()

         Unnamed: 0        cc_num  ...  Unnamed: 23  6006
count  1.048575e+06  1.048575e+06  ...          0.0   0.0
mean   5.242870e+05  4.171565e+17  ...          NaN   NaN
std    3.026977e+05  1.308811e+18  ...          NaN   NaN
min    0.000000e+00  6.041621e+10  ...          NaN   NaN
25%    2.621435e+05  1.800400e+14  ...          NaN   NaN
50%    5.242870e+05  3.520550e+15  ...          NaN   NaN
75%    7.864305e+05  4.642260e+15  ...          NaN   NaN
max    1.048574e+06  4.992350e+18  ...          NaN   NaN

[8 rows x 13 columns]

In [22]:
# Inicio tiempo
start_time = time.time()
# Calculo de la suma
total_hf = df_hf['amt'].sum()
# Fin tiempo
end_time = time.time()

print(f'Suma total de la columna "amt": {total_hf}')
print(f'Tiempo transcurrido en calculo de la suma: {end_time-start_time}')

Suma total de la columna "amt": 73692902.08000003
Tiempo transcurrido en calculo de la suma: 0.014022588729858398

### Dataset Remoto 2

Se realiza todo el proceso por google cloud platform. Primero, es script ejecutado es el siguiente:

In [ ]:
import pandas as pd
import time

df = pd.read_csv('gs://dev-cs-frauddata-lab2/fraudDetection.csv')

print(df.head())

print('---- Medicion de las metricas ----')
# Start Time
start_time = time.time()
# Suma de las filas amt
total = df['amt'].sum()
# End Time
end_time = time.time()

print(f'Total de la suma {total}')
print(f'Total tiempo transcurrido {end_time-start_time}')

Y luego, obtenemos los siguientes resultados

<img src="./vm_instance.png">

### Dataset Local

In [10]:
import gdown
import pandas as pd

file_id = "1foHt1ncXXkqD5_WmTZkIfc6G6sQIuU9D"
url = f"https://drive.google.com/uc?id={file_id}"
output = "fraudDetection-activity.csv"

gdown.download(url, output, quiet=False)

fraud = pd.read_csv(output, index_col=0)

print(f"\nDimensiones del dataset: {fraud.shape[0]} filas x {fraud.shape[1]} columnas")
print(f"\nPrimeras 5 filas:")
fraud.head()

Downloading...
From (original): https://drive.google.com/uc?id=1foHt1ncXXkqD5_WmTZkIfc6G6sQIuU9D
From (redirected): https://drive.google.com/uc?id=1foHt1ncXXkqD5_WmTZkIfc6G6sQIuU9D&confirm=t&uuid=1a1314ea-fbfb-40bf-8848-36e40de09f05
To: /content/fraudDetection-activity.csv
100%|██████████| 267M/267M [00:01<00:00, 234MB/s]

Dimensiones del dataset: 1048575 filas x 24 columnas

Primeras 5 filas:

  trans_date_trans_time        cc_num  ... Unnamed: 23 6006
0           1/1/19 0:00  2.703190e+15  ...         NaN  NaN
1           1/1/19 0:00  6.304230e+11  ...         NaN  NaN
2           1/1/19 0:00  3.885950e+13  ...         NaN  NaN
3           1/1/19 0:01  3.534090e+15  ...         NaN  NaN
4           1/1/19 0:03  3.755340e+14  ...         NaN  NaN

[5 rows x 24 columns]

In [17]:
import time

# Inicio tiempo
start_time = time.time()
# Calculo de suma
total = fraud['amt'].sum()
# Fin tiempo
end_time = time.time()

print(total)
print(f'Tiempo demorado para el calculo {end_time-start_time}')

73692902.08000003
Tiempo demorado para el calculo 0.0037581920623779297

## Tabla Comparativa

| Escenario              | Ubicación de Datos | Tiempo                | Arquitectura    |
| ---------------------- | ------------------ | --------------------- | --------------- |
| VM + GCS               | GCS                | 0.0020520687103271484 | Compute-Storage |
| Local PC + HuggingFace | Hugging Face       | 0.014022588729858398  | Data remoto     |
| Local PC               | PC                 | 0.0037581920623779297 | Monolítica      |

## Diagrama de las arquitecturas

### Arquitectura Datos Remotos 1 (Huggin Face)

<img src="./remote_architecture.jpg">

### Arquitectura Datos Remotos 2 (GCP)

<img src="./gcp_architecture.jpg">

### Arquitectura Datos Locales

<img src="./local_architecture.jpg">

## Conclusiones

Con todo esto, podemos responder a las preguntas de la siguiente manera:

1) ¿Dónde estuvo el mayor consumo de tiempo?

En este caso, tuvimos un mayor tiempo haciendo uso de los datos remotos de Hugging Face. Este comportamiento se explica porque antes de ejecutar la operación de suma fue necesario transferir el conjunto de datos a través de la red, lo que introduce latencia de comunicación, sobrecarga de protocolos y dependencia del ancho de banda disponible. En este caso, el tiempo de transferencia supera ampliamente el tiempo de cómputo requerido para realizar la operación matemática.

2) ¿Qué escenario minimiza la transferencia de datos?

El escenario que minimiza la transferencia de datos es aquel en el que los datos se almacenan y procesan localmente en la misma máquina. En esta configuración no existe transmisión de información por red, lo que elimina completamente la latencia asociada al movimiento de datos y permite que el tiempo de ejecución dependa únicamente del acceso a memoria o disco local y del procesamiento del CPU. Por esta razón, este escenario representa la situación más eficiente cuando el volumen de datos y el procesamiento se concentran en un único nodo.

3)  ¿Cuál maximiza la latencia?

El escenario que maximiza la latencia corresponde al uso de datos remotos procesados localmente, ya que la ejecución depende de la transferencia de información a través de redes externas antes de iniciar el procesamiento. La latencia surge principalmente del tiempo de establecimiento de conexiones, la transmisión de paquetes y las posibles variaciones en el rendimiento de la red. Este retardo ocurre independientemente de la simplicidad del cálculo realizado, por lo que incluso operaciones computacionalmente ligeras pueden experimentar incrementos significativos en el tiempo total debido a la comunicación remota.

4) ¿Qué arquitectura escala mejor?

La arquitectura que mejor escala es aquella basada en el uso de almacenamiento en bucket dentro de un entorno cloud junto con máquinas virtuales en la misma infraestructura, como el escenario implementado en GCP. Esta configuración permite aumentar recursos de cómputo de manera vertical (mayor capacidad de CPU y memoria) o horizontal (más instancias en paralelo), además de facilitar el uso de servicios distribuidos. Gracias a estas características, el sistema puede adaptarse a volúmenes de datos mucho mayores sin depender de las limitaciones físicas de una sola máquina local.

5) ¿Qué porcentaje del tiempo total se invierte en mover datos?

Este cálculo podemos hacerlo de la siguiente manera:

$[ (tiempohf - tiempolocal) / (tiempohf) ] * 100$

Y con esta comparación, se puede estimar que aproximadamente entre el 70% y el 75% del tiempo total de ejecución en el caso remoto se dedica al movimiento de datos y no al procesamiento. Esta estimación se obtiene al considerar la diferencia entre ambos tiempos, asumiendo que el costo computacional de la operación de suma es prácticamente el mismo en los dos casos. El resultado evidencia que, en tareas de bajo costo computacional, la transferencia de datos suele convertirse en el factor dominante del tiempo total de ejecución.